/* TO GET AN IDEA OF THE CSS YOU WILL LIKELY BE USING, SEE THE LISTS BELOW. */

        /* 
        
        Spacing 

            - padding (shorthand and/or specific properties like padding-bottom, etc.)

            - margin, (shorthand and/or specific properties like margin-top, etc.)

            - letter-spacing, word-spacing, line-height

            - width, max-width, min-width
            - height, max-height, min-height

        Typography 

            - font-family, font-size, font-style, font-weight

            - text-decoration, text-align

            - color

            - text-shadow, text-transform

        Box, Layout and Border 

            - border (shorthand and/or specific properties like border-top, border-bottom-radius, border-width, etc.)

            - box-shadow

            - display, float, align-items, align-content

            - grid-template-columns, grid-column-gap

            - transform

        Other

            - :nth()-child (to target specific child elements)

            - :focus, :hover, :active (to target link states)

            - @font-face or @import (to import typefaces)

        */


/* ------ START WRITING YOUR CODE BELOW ------ */
/* Font Setup */

@font-face {    
    src: url("../fonts/serif/josefinslab-regular.ttf"), format('TrueType');
    font-style:normal;
    font-weight:400 normal;
    font-family: JoseFinsLab;
}

@font-face {
    src: url("../fonts/sans-serif/montserrat-regular.ttf"), format('TrueType');
    font-style:normal;
    font-weight:400 normal;
    font-family: Montserrat;
}

/* Setup */

body{
    padding:0;
    margin:0 auto;
    font-size:1rem;
    max-width: 104rem;
    min-width:64rem;
}

main {
    margin:0 auto;
    padding-bottom:.25rem;
    width:90%;
}

* {
    box-sizing: border-box;
    font-family: Montserrat;
}

html {
    font-size:16px;
}

img {
    width:100%;
    max-width: 25rem;
    display:block;
}

/* Headers*/
h1,
h2 {
    letter-spacing:.125rem;
    font-family: JoseFinsLab, Georgia, 'Times New Roman', Times, serif;
}

h1{
    font-size: 3.75rem;
    margin: 1.125rem;
    text-align: center;
    width:75%;
    transform: rotate(-4deg);
}
/* Highlight Element */
.highlight {
    color: white;
    padding:0 1rem;
    box-shadow: rgb(174, 4, 217);
    background-color: rgb(92, 0, 125) ;
}

h2{
    font-size: 1.5rem;
}

/* NAV */

nav {
    padding: 0 5%;
    margin: 4rem 0;
    border-top: solid .0625rem #33658A;
    border-bottom: solid .0625rem #33658A;
}

nav a {
    text-decoration: none;
    display:inline-block;
    text-align: center;
    font-size: 1.125rem;
    padding: 2rem 6rem 2rem 0;
}

/* Selection Decoration */

 nav :nth-child(even):focus,
 nav :nth-child(even):hover,
 nav :nth-child(even):active {
    color: black;
    text-decoration: line-through;
    text-transform: uppercase;
    transform:rotate(-4deg) ;
 }

 nav :nth-child(odd):focus,
 nav :nth-child(odd):hover,
 nav :nth-child(odd):active {
    color: black;
    text-decoration: line-through;
    text-transform: uppercase;
    transform:rotate(4deg) ;
 }


/* Main Section */

.main-section {
    display:flex;
}

article {
    width:75%;
}

.article-image {
    float:left;
    margin:0 1rem 0 0;
}

.article-image + p {
    margin-top:0;
}

/* Subsection */
.subsection {
    margin-top:4rem;
    margin-bottom:2rem;
    padding:0;
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(5rem, 1fr));
    grid-column-gap:1%;
}
.subsection figure {
    padding:0;
    margin:0;
    background-color:#EED;
}

.subsection figcaption {
    font-size:.75rem;
    padding:.75rem;
}

.subsection img {
    padding-bottom: 1%;
    min-width:5rem;
}

.subsection figure img{
        width:75%;
        max-width:25rem;
}

/* Aside Element */

aside {
    clear:both;
    width:19%;
    margin-left:3%;
    padding-left:3%;
    border-left: .0625rem solid #333;
}

aside p {
    font-size:.75rem;
    padding-bottom:2rem;
    border-bottom:.0625rem solid #333;
}

.expand {
    font-size:.25rem;
    display:block;
    padding-top:.5rem;
}

/* Button Decoration */

button {
    margin-top:1rem;
    font-family:JoseFinsLab;
    border-radius:.625rem;
    font-size:1.5rem;
    text-transform:uppercase;
    padding:1rem;
    background-color:#27476E;
    box-shadow:.187rem .187rem .187rem #333;
    border:none;
    
    background-color:#27476E;
}

button a{
    color:#EED;
}

/* Footer */

footer {
    margin:6rem auto .5rem auto;
    width:90%;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1%;
}

footer a {
    font-family: JoseFinsLab, serif;
    color:#6F7D77;
}

footer :nth-child(2) {
    text-align:right;
}

